@import '../../styles/colors.scss';

.header {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  border-top: 20px solid $primaryDark;
  align-items: center;

  img {
    margin-top: 5px;
    height: 70px;
    width: 70px;
  }

  h1 {
    color: $white;
    margin: 5px 0px 20px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    border-top: 10px solid $primaryDark;
  }
}
