.errorWrap {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px;
  align-items: center;
  text-align: center;

  span {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
